@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    height: 100vh;
    background:linear-gradient(to right, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    /* background-image: url('./weather.jpg'); */
    overflow-y: hidden;
    overflow-x: hidden;
}